<!-- Fabs (Floating Action Buttons) in cards start -->

  <div class="row">
    <div class="col-12">
      <div class="content-header">Fabs (Floating Action Buttons) in cards</div>
      <p class="content-sub-header mb-1">Cards require a small amount of markup and classes to provide you with as much
        control as possible. These classes and markup are flexible though and can typically be remixed and extended with
        ease. For example, if your card has no flush content like images, feel free to put the
        <code>.card-content</code> class on the <code>.card</code> element to consolidate your markup.</p>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let event of events" class="col-lg-4 col-md-12 col-12">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-img">
            <ngb-carousel>
              <ng-template ngbSlide>
                <img src="assets/img/photos/17.jpg" class="d-block w-100" alt="First slide">
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/img/photos/13.jpg" class="d-block w-100" alt="Second slide">
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/img/photos/12.jpg" class="d-block w-100" alt="Third slide">
              </ng-template>
            </ngb-carousel>
            <a class="btn btn-floating halfway-fab btn-large bg-warning"><i class="ft-plus"></i></a>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ event.title }}</h4>
            <p class="card-text">{{ event.description }}</p>
            <p class="card-text">Start Time: {{ event.startTime }}</p>
            <p class="card-text">End Time: {{ event.endTime }}</p>
            <p class="card-text">Location: {{ event.location }}</p>
            <p class="card-text">Max Attendees: {{ event.maxAttendees }}</p>
          </div>

        </div>
      </div>
    </div>
  </div>

<!-- // Fabs section end -->