<div class="row">
  <div class="col-12">
    <div class="content-header">Events List</div>
    <p class="content-sub-header mb-1">
      Care to join an event? You can find here all the events displayed for you! Take a look and don't forget to participate!
    </p>
  </div>
</div>
<div class="row">
  <div *ngFor="let event of events" class="col-lg-4 col-md-12 col-12">
    <div class="card overflow-hidden">
      <div class="card-content">
        <div class="card-img">
          <ngb-carousel *ngIf="event.images && event.images.length > 0">
            <ng-template ngbSlide *ngFor="let image of event.images">
              <img [src]="image" class="d-block w-50" alt="Event image">
            </ng-template>
          </ngb-carousel>
          <button (click)="participate(event)" class="btn btn-floating halfway-fab btn-large bg-warning">
            <i class="ft-plus"></i> Participate
          </button>
        </div>
        <div class="card-body">
          <h4 class="card-title">{{ event.title }}</h4>
          <p class="card-text">{{ event.description }}</p>
          <p class="card-text">Start Time: {{ event.startTime }}</p>
          <p class="card-text">End Time: {{ event.endTime }}</p>
          <p class="card-text">Location: {{ event.location }}</p>
          <p class="card-text">Max Attendees: {{ event.maxAttendees }}</p>
          <div class="card-text">
            <span *ngFor="let rating of event.ratings">
              <ng-container *ngFor="let star of getStarsArray(rating.stars)">
                <i class="fa fa-star" [class.filled]="star <= rating.stars"></i>
              </ng-container>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
