<div class="navbar">
  <div class="container">
    <h1 class="navbar-brand">Clubs</h1>
    <button class="login-btn" (click)="goToLogin()">Go to Login</button>
  </div>
</div>

<div class="container">
  <div class="card-grid">
    <div *ngFor="let club of clubs" class="card">
      <div class="card-content" *ngIf="club?.status === 'APPROVED'">
        <h2 class="card-title">{{ club?.name }}</h2>
        <p class="card-description">{{ club?.description }}</p>

        <!-- Join Club Form -->
        <form (ngSubmit)="onJoinClub(club, $event)">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" [(ngModel)]="joinForm.name" name="name" required>
          </div>
          <div class="form-group">
            <label for="position">Position</label>
            <select id="position" class="form-control" [(ngModel)]="joinForm.position" name="position" required>
              <option value="FINANCIAL_OFFICER">Financial Officer</option>
              <option value="EVENT_COORDINATOR">Event Coordinator</option>
              <option value="RH">RH</option>
              <option value="SIMPLE_MEMBER">Simple Member</option>
            </select>
          </div>
          <div class="form-group">
            <label for="reason">Reason for Joining</label>
            <textarea id="reason" class="form-control" [(ngModel)]="joinForm.reason" name="reason" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Join Club</button>
        </form>
        
      </div>
    </div>
  </div>
</div>
