<div class="row" (resized)="onResized($event)">
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card bg-info bg-lighten-3">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media">
            <div class="media-body info text-left">
              <h3 class="font-large-1 info mb-0">{{ latestGrowthRate | number: '1.0-2' }}</h3>
              <span>User Ratings Distribution</span>
            </div>
            <div class="media-right info text-right">
              <i class="ft-percent font-large-1"></i>
            </div>
          </div>
        </div>
        <div id="Widget-line-chart" class="WidgetlineChart WidgetlineChartShadow mb-3">
          <x-chartist class="height-75" [data]="EventGrowthRate.data" [type]="EventGrowthRate.type"
            [options]="EventGrowthRate.options" [responsiveOptions]="EventGrowthRate.responsiveOptions"
            [events]="EventGrowthRate.events">
          </x-chartist>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card bg-warning bg-lighten-3">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media">
            <div class="media-body warning text-left">
              <h3 class="font-large-1 warning mb-0">{{ latestParticipationRate | number: '1.0-2' }}</h3>
              <span>Event Participation Rate</span>
            </div>
            <div class="media-right warning text-right">
              <i class="ft-percent font-large-1"></i>
            </div>
          </div>
        </div>
        <div id="Widget-line-chart2" class="WidgetlineChart1 WidgetlineChart1Shadow mb-3">
          <x-chartist class="height-75" [data]="EventParticipationRate.data" [type]="EventParticipationRate.type"
            [options]="EventParticipationRate.options" [responsiveOptions]="EventParticipationRate.responsiveOptions"
            [events]="EventParticipationRate.events">
          </x-chartist>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card bg-primary bg-lighten-3">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media">
            <div class="media-body primary text-left">
              <h3 class="font-large-1 primary mb-0">$45,668</h3>
              <span>Total Sales</span>
            </div>
            <div class="media-right primary text-right">
              <i class="ft-trending-up font-large-1"></i>
            </div>
          </div>
        </div>
        <div id="Widget-line-chart3" class="WidgetlineChart2 WidgetlineChart2Shadow mb-3">
          <x-chartist class="height-75" [data]="WidgetlineChart2.data" [type]="WidgetlineChart2.type"
            [options]="WidgetlineChart2.options" [responsiveOptions]="WidgetlineChart2.responsiveOptions"
            [events]="WidgetlineChart2.events">
          </x-chartist>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card bg-success bg-lighten-3">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media">
            <div class="media-body success text-left">
              <h3 class="font-large-1 success mb-0">$32,454</h3>
              <span>Total Earning</span>
            </div>
            <div class="media-right success text-right">
              <i class="ft-credit-card font-large-1"></i>
            </div>
          </div>
        </div>
        <div id="Widget-line-chart4" class="WidgetlineChart3 WidgetlineChart3Shadow mb-3">
          <x-chartist class="height-75" [data]="WidgetlineChart3.data" [type]="WidgetlineChart3.type"
            [options]="WidgetlineChart3.options" [responsiveOptions]="WidgetlineChart3.responsiveOptions"
            [events]="WidgetlineChart3.events">
          </x-chartist>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row match-height">
  <div class="col-xl-4 col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Event Participation Rate</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div id="donut-dashboard-chart" class="donut">
            <x-chartist class="height-250" [data]="EventParticipationRatePie.data"
             [type]="EventParticipationRatePie.type" [options]="EventParticipationRatePie.options"
             [responsiveOptions]="EventParticipationRatePie.responsiveOptions"
             [events]="EventParticipationRatePie.events">
            </x-chartist>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Event Growth Rate</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div id="donut-dashboard-chart" class="donut">
            <x-chartist class="height-250" [data]="EventGrowthRatePie.data"
             [type]="EventGrowthRatePie.type" [options]="EventGrowthRatePie.options"
             [responsiveOptions]="EventGrowthRatePie.responsiveOptions"
             [events]="EventGrowthRatePie.events">
            </x-chartist>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
