<div class="container">
  <h2>Create a New Club</h2>
  
  <form [formGroup]="clubForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="logo">Club Logo</label>
      <img [src]="logoPreview" alt="club logo" class="rounded-circle mb-2" height="64" width="64">
      <div class="d-flex">
        <input type="file" (change)="onFileChange($event)" class="d-none" #fileInput>
        <button class="btn btn-primary mr-2" type="button" (click)="fileInput.click()">Change Logo</button>
        <button class="btn btn-secondary" type="button" (click)="resetLogo()">Reset Logo</button>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Club Name</label>
      <input type="text" id="name" formControlName="name" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="description">Club Description</label>
      <textarea id="description" formControlName="description" class="form-control" required></textarea>
    </div>

    <div class="form-group">
      <label for="leader">Club Leader ID</label>
      <input type="number" id="leader" formControlName="leader" class="form-control" disabled /> <!-- Disabled input -->
    </div>

    <button type="submit" class="btn btn-primary mt-3">Create Club</button>
  </form>
</div>
