<section class="users-edit">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Create User</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <!-- Nav-tabs -->
            <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-left">
              <li [ngbNavItem]="1">
                <a ngbNavLink class="nav-link d-flex align-items-center">
                  <i class="ft-user mr-1"></i>
                  <span class="d-none d-sm-block">Account</span>
                </a>
                <ng-template ngbNavContent>
                  <!-- Account content starts -->
                  <div class="mt-2" id="account">
                    <!-- Media object starts -->
                    <div class="media">
                      <img [src]="avatarPreview" alt="create avatar"
                        class="users-avatar-shadow avatar mr-3 rounded-circle" height="64" width="64">
                      <div class="media-body">
                        <h4>Avatar</h4>
                        <div class="d-flex flex-sm-row flex-column justify-content-start px-0 mb-sm-2">
                          <input type="file" (change)="onFileChange($event)" class="d-none" #fileInput>
                          <button class="btn btn-sm btn-primary mb-1 mb-sm-0" (click)="fileInput.click()">Change</button>
                          <button class="btn btn-sm bg-light-secondary ml-sm-2" (click)="resetAvatar()">Reset</button>
                        </div>
                      </div>
                    </div>
                    
                    <!-- Media object ends -->

                    <!-- Account form starts -->
                    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                      <div class="row">
                        <div class="col-12 col-md-6">
                          <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" formControlName="name" class="form-control" placeholder="Name" required>
                            <div *ngIf="userForm.get('name').invalid && userForm.get('name').touched" class="text-danger">
                              Name is required.
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="Last Name" required>
                            <div *ngIf="userForm.get('lastName').invalid && userForm.get('lastName').touched" class="text-danger">
                              Last Name is required.
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="age">Age</label>
                            <input type="number" id="age" formControlName="age" class="form-control" placeholder="Age" required>
                            <div *ngIf="userForm.get('age').invalid && userForm.get('age').touched" class="text-danger">
                              Age is required and must be at least 10.
                            </div>
                          </div>
                        </div>
                    
                        <div class="col-12 col-md-6">
                          <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email" required>
                            <div *ngIf="userForm.get('email').invalid && userForm.get('email').touched" class="text-danger">
                              Valid email is required.
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" required>
                            <div *ngIf="userForm.get('password').invalid && userForm.get('password').touched" class="text-danger">
                              Password is required.
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="role">Role</label>
                            <select id="role" formControlName="role" class="form-control" required>
                              <option value="" disabled>Select Role</option>
                              <option value="UNIVERSITY_ADMIN">UNIVERSITY_ADMIN</option>
                              <option value="SIMPLE_USER">SIMPLE_USER
                                </option>
                              <option value="CLUB_LEADER"> CLUB_LEADER</option>
                              <option value="CLUB_MEMBER"> CLUB_MEMBER</option>
                              
                            </select>
                            <div *ngIf="userForm.get('role').invalid && userForm.get('role').touched" class="text-danger">
                              Role is required.
                            </div>
                          </div>
                        </div>
                    
                        <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                          <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2">Save Changes</button>
                          <button type="reset" class="btn btn-secondary" (click)="userForm.reset()">Cancel</button>
                        </div>
                      </div>
                    </form>
                    
                    <!-- Account form ends -->
                  </div>
                  <!-- Account content ends -->
                </ng-template>
              </li>
            </ul>
            <div class="tab-content">
              <div [ngbNavOutlet]="nav"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
