<!-- Filter Datatables -->
<section id="ngx-datatable-filter">
  <div class="row">

    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <!-- ngx-datatable-filter -->
            <fieldset class="form-group">
              <label>Show
                <select name="users-list-select"
                  class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                  (click)="updateLimit($event)">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                entries</label>
              <label for="ngx-filter-ref" class="float-right">Search:
                <input id="ngx-filter-ref" class="form-control form-control-sm d-inline-block width-200 ml-1"
                  type="text" (keyup)="filterUpdate($event)" />
              </label>
            </fieldset>
            <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50"
            [footerHeight]="50" rowHeight="auto" [limit]="limitRef" [rows]="rows" [scrollbarH]="true" [columns]="columns">
            <ngx-datatable-column name="ID" prop="userId" [width]="50"></ngx-datatable-column>
            <ngx-datatable-column name="Email" prop="email" [width]="180">
              <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                <div class="d-flex align-items-center">
                  <img class="rounded-circle mr-1" [src]="row.avatar" height="32" width="32" alt="datatable-avatar" />
                  <div class="cell-line-height">
                    <a class="line-height-1 mb-0">{{ name }}</a>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Name" prop="name" [width]="150"></ngx-datatable-column>
            <ngx-datatable-column name="Age" prop="age" [width]="120"></ngx-datatable-column>
            <ngx-datatable-column name="Enabled" prop="enabled" [width]="70"></ngx-datatable-column>
            <ngx-datatable-column name="Role" prop="role" [width]="70"></ngx-datatable-column>
            <ngx-datatable-column name="Status" prop="accountNonExpired" [width]="70">
              <ng-template let-status="value" ngx-datatable-cell-template>
                <div class="badge" [ngClass]="{
                  'bg-light-success': status == 'true',
                  'bg-light-danger': status == 'false',
                  'bg-light-warning': status == 'Close'
                }">
                  {{ status }}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" [width]="50">
              <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                <a (click)="editUser(row)"><i class="ft-edit text-primary cursor-pointer"></i></a>
                &nbsp;
                <a (click)="deleteUser(row.userId)"><i class="ft-trash-2 text-danger cursor-pointer"></i></a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
          
            <!-- ngx-datatable-filter -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Filter Datatables -->
