<div class="dashboard-club">
  <h2>Club Dashboard</h2>
  
  <div class="card-container">
    <div class="card">
      <h4>Total Clubs Created:</h4>
      <p class="card-number">{{ totalClubs }}</p>
    </div>
    
    <div class="card">
      <h4>Total Join Requests:</h4>
      <p class="card-number">{{ totalJoinRequests }}</p>
    </div>
  </div>

  <div class="charts-container">
    <div class="chart">
      <h4>Approval Club Status:</h4>
      <canvas id="approvalChart"></canvas>
    </div>
    
    <div class="chart">
      <h4>Join Request Approval Status:</h4>
      <canvas id="joinRequestChart"></canvas>
    </div>
  </div>
</div>
