<div class="row">
  <div class="col-12">
    <div class="content-header">Want to create a new reservation?</div>
    <p class="content-sub-header mb-1">Fill out this form</p>
  </div>
</div>
<div class="col-lg-12 col-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Create Reservation</h4>
    </div>
    <div class="card-content">
      <div class="card-body">
        <form (ngSubmit)="createReservation()">
          <div class="form-group position-relative">
            <label for="hidden-label-form-1">User ID</label>
            <input type="text" id="hidden-label-form-1" class="form-control round" [(ngModel)]="reservation.userId" name="userId" placeholder="User ID" required disabled>
          </div>

          <div class="form-group">
            <label for="space">Space</label>
            <select id="space" class="form-control round" [(ngModel)]="reservation.space" name="space" required>
              <option *ngFor="let space of spaces" [ngValue]="space">{{space.name}}</option>
            </select>
          </div>

          <div class="form-group position-relative">
            <label for="hidden-label-form-3">Start Date</label>
            <input type="date" id="hidden-label-form-3" class="form-control round" [(ngModel)]="reservation.startDate" name="startDate" required>
          </div>
<!--
          <div class="form-group position-relative">
            <label for="hidden-label-form-4">Start Time</label>
            <input type="time" id="hidden-label-form-4" class="form-control round" [(ngModel)]="reservation.startTime" name="startTime" required>
          </div> -->

          <div class="form-group position-relative">
            <label for="hidden-label-form-5">End Date</label>
            <input type="date" id="hidden-label-form-5" class="form-control round" [(ngModel)]="reservation.endDate" name="endDate" required>
          </div>
<!--
          <div class="form-group position-relative">
            <label for="hidden-label-form-6">End Time</label>
            <input type="time" id="hidden-label-form-6" class="form-control round" [(ngModel)]="reservation.endTime" name="endTime" required>
          </div> -->

          <button type="submit" class="btn btn-primary mr-2"><i class="ft-check-square mr-1"></i>Create Reservation</button>
          <button type="button" class="btn btn-secondary" (click)="onCancel()"><i class="ft-x mr-1"></i>Cancel</button>
        </form>

        <div *ngIf="isCreateFailed" class="alert alert-danger" role="alert">
          Error creating reservation. Please try again.
        </div>
      </div>
    </div>
  </div>
</div>
